<p>
  <b>Data de Início:</b>
  <%= @project_membership.joined %>
</p>

<p>
  <b>Data de Fim:</b>
  <%= @project_membership.leaved %>
</p>

<p>
  <b>Usuário:</b>
  <%= @project_membership.user.name %>
</p>

<p>
  <b>Projeto:</b>
  <%= @project_membership.project.name %>
</p>